#ansible files
./ansible/ansible.cfg
./ansible/hosts.ini
./ansible/*.pem
./ansible/*.tfstate
./ansible/secret_path_file.yml
./ansible/gen_hosts.sh

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# credentials
*.pem
aws-tflint-config

# terraformrc file
terraform.rc
.terraformrc

.DS_Store

# .terraform
/**/.terraform/modules
/**/.terraform/**/registry.terraform.io
